body {
    background-color: aquamarine;
    border: 2px solid green;
    border-radius: 16px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
html {
    background: radial-gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
    background-size: 8px 8px;

}
p {
    color: crimson;
}
b {
    color: black;
}