body {
    background-color: aquamarine;
    border: 2px solid green;
    border-radius: 16px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    min-width: 10rem;
    padding: 2rem;
    padding-top: 1rem;
}
html {
    background: radial-gradient(circle, lightgreen, lightgreen 50%, LightCyan 50%, SkyBlue);
    background-size: 8px 8px;

}
p {
    color: crimson;
}
b {
    color: black;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: hsl(310, 88%, 76%);
    overflow: hidden;
    border-radius: 14px;
}
nav li{
    float:left;
}
nav li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: #111;
}
img{
    width: 10rem;
}